*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0.5rem;
}
a{
    color: unset !important;
}
.text-justify{
    text-align: justify !important;
}

/* animation */
.animation-underline {
    display: inline-block;
    position: relative
}

.animation-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    transform-origin: bottom right;
    transition: transform .25s ease-out
}

.animation-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}