.main {
  min-height: 100vh;
  background-image: url('../assets/images/background/background1.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


